@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F5;
  --foreground: #3B3C36;
  --menu-main: #826644;
  --menu-sub: #D99058;
  --menu-main-text: #FAF9F5;
  --menu-sub-text: #3B3C36;
}

.dark {
  --background: #3B3C36;
  --foreground: #e5e5e5;
  --menu-main: #D99058;
  --menu-sub: #826644;
  --menu-main-text: #FAF9F5;
  --menu-sub-text: #FAF9F5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-serif-kr), serif;
}